<template>
  <span v-bind:data-emoji-keyword="word">{{ emoji }}</span>
</template>

<script>
import lookup from './lookup';

export default {
  props: {
    word: {
      default: 'cat',
      type: String,
    },
  },

  computed: {
    emoji () {
      return lookup[this.word] || '';
    },
  },
};
</script>
